# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv
venv/
env/
ENV/
.venv/
.pyenv/
.Python
.env

# Ignore SQLite database files
*.sqlite
*.sqlite3
*.db
*.db3

# Ignore other folders
folder_to_reports

# IDE
.vscode
.idea

# logs
*.log

# Alembic migrations
alembic/versions/*
!alembic/versions/.gitkeep